@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.nav-link {
  @apply text-[18px] font-semibold text-[#0B1B2E] hover:text-blue-600 transition;
}

.dropdown-item {
  @apply block px-3 py-2 rounded-lg text-[15px] text-[#0B1B2E] hover:bg-blue-100/40 transition;
}

/* audio {
  display: none;
} */